@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300&display=swap");

* {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Merriweather", serif;
}

a {
  color: #ff1a75;
}

.footer {
  position: relative;
  margin: 40px 0 0;
  padding: 40px 4vmin 140px;
  color: #fff;
  background: #0a0b0c;
}

.cursor-pointer {
  cursor: pointer !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
}

.layout {
  margin: auto;
  width: 80%;
}

.main-content {
  margin-top: 30px;
  /* background: #fff; */
  border-radius: 4px;
  /* padding: 20px; */
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  /* margin-bottom: 20px; */
}

.text-light {
  color: rgb(102, 101, 101);
}

.font-size-small {
  font-size: 0.8rem;
}

.post-title {
  font-size: 1.25rem;
  font-weight: 500;
  font-weight: bold;
  color: rgb(70, 70, 70);
}

.featured-post {
  /* background: #fafafa;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  height: 100%; */
}

/* .featured-post div:first-child {
  float: left;
}
.featured-post div:nth-child(2) {
  float: right;
  width: 50%;
} */

.post-tags {
  margin: 0 0 0.2 em;
  font-weight: bold !important;
  color: #ff1a75;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.post-tags:hover {
  text-decoration: underline;
}

.post-feed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
}

.post-card {
  margin: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.post-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: red !important;
  transition: all 0.3s ease-in-out;
}

.post-title-desc {
  padding: 10px;
}

.post-title-desc p {
  font-size: 1rem;
  color: rgb(70, 70, 70);
}

.post-title-desc:hover {
  font-size: 1rem;
  color: rgb(70, 70, 70);
  text-shadow: 2px 2px rgba(146, 146, 146, 0.2);
}

.author {
  display: inline-block;
  margin: 10px 0px 10px 0px;
}

.author-pic {
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.author-name {
  font-weight: bold;
  font-size: 0.8rem;
}

.post-card-large {
  grid-column: 1 / span 3;
  display: grid;
  grid-gap: 4vmin !important;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 200px !important;
  border-top: 0;
}

.post-card-large-image {
  position: relative;
  grid-column: 1 / span 2;
  margin-bottom: 0;
  min-height: 200px;
}

.post-details {
  display: grid;
  grid-template-columns:
    [full-start] minmax(4 vmin, auto)
    [wide-start] minmax(auto, 240 px)
    [main-start] min(720 px, calc(100% - 8 vw))
    [main-end] minmax(auto, 240 px)
    [wide-end] minmax(4 vmin, auto)
    [full-end];
}

.post-details > blockquote,
.post-details > dl,
.post-details > ol,
.post-details > p,
.post-details > ul {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6em;
}

.gh-content > blockquote,
.gh-content > dl,
.gh-content > ol,
.gh-content > p,
.gh-content > ul {
  font-family: var(--font-serif);
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 1.6em;
}

.post-details > * {
  grid-column: main-start/main-end;
}

.post-details p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin-top: 3vmin;
}

.post-details hr {
  position: relative;
  margin-top: 6vmin;
}

.post-details h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 30px 0px 15px 0px;
}

.post-details a {
  color: #ff1a75;
  text-decoration: underline;
  word-break: break-word;
}

.post-details ul {
  list-style: disc;
  padding: 10px 0px 10px 10px;
  font-size: 1.2rem;
}

.post-details li {
  padding: 5px;
}

.post-details img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-details pre {
  background: rgb(39, 39, 39);
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0px 10px;
  color: #fff;
}

.post-details figcaption {
  color: #888;
  text-align: center;
  font-size: 1rem;
}
